includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - app
        - tests
    excludePaths:
        - %currentWorkingDirectory%/storage/*
        - %currentWorkingDirectory%/bootstrap/cache/*
        - app/Providers/RouteServiceProvider.php
        - app/Http/Middleware/RedirectIfAuthenticated.php
